# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node / Newman
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Postman / Newman temporary files & logs
*.log
*.tmp
/tmp/

# Sensitive data / Secrets / Local Postman environment overrides
*.env
*.env.*
!.env.example
*.secret.json
**/HW06-env-local.json
HW06-env-local.json

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~

# Office / Excel temporary lock files
~$*.xlsx
~$*.docx
__pycache__/
